<header class="header">
    <img src="/projeto/src/images/index-image.jpg" alt="">
    <div class="header-buttons">
        <span class="left-pos1"><img src="/projeto/src/assets/icons/logo-in8-dev.svg" alt=""></span>
        <span class="right-pos">
            <a href="" class="link">cadastro</a> <a href="" class="bullet"> • </a> <a href="" class="link">lista</a> <a
                href="" class="bullet"> • </a>
            <a href="" class="link">sobre mim
            </a>
        </span>
    </div>
    <div class="left-pos">
        <p class="texto1">ESTÁGIO</p>
        <p class="texto2">PROVA DE SELEÇÃO</p>
    </div>
</header>