<div class="tabela">
    <h1 class="titulo">LISTA DE CADASTRO</h1>
    <table>
        <tr class="header">
            <td> </td>
            <td>NOME</td>
            <td>E-MAIL</td>
            <td>NASCIMENTO</td>
            <td>TELEFONE</td>
        </tr>
        <tr>
            <td>
                <p> 1 </p>
            </td>
            <td>
                <p>Fulano Beltrano de Oliveira da Silva</p>
            </td>
            <td>
                <p>fulanobos&#64;gmail.com></p>
            </td>
            <td>
                <p>13/10/1995</p>
            </td>
            <td>
                <p>(31)9 9666-1111</p>
            </td>
        </tr>
        <tr>
            <td> 2 </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td> 3 </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td> 4 </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    </table>
</div>