<div class="formulario">
    <h1 class="titulo">CADASTRO</h1>
    <form>
        <div class="form-group">
            <label for="Nome"></label>
            <input type="text" placeholder="Fulano Beltrano de Oliveira da Silva" required>
        </div>
        <div class="form-group">
            <label for="E-mail"></label>
            <input type="email" placeholder="fulanobos@gmail.com" required>
        </div>
        <div class="form-group">
            <label for="Nascimento"></label>
            <input type="number" placeholder="13/10/1995" required>
        </div>
        <div class="form-group">
            <label for="Telefone"></label>
            <input type="number" placeholder="(31) 9 9666-1111" required>
        </div>
        <div class="cadastro-button">
            <p>CADASTRAR</p>
        </div>
    </form>
</div>