<div class="formulario">
    <h1 class="titulo">CADASTRO</h1>
    <form>
        <div class="form-group">
            <label for="Nome"></label>
            <input type="text" placeholder="Nome completo" required>
        </div>
        <div class="form-group">
            <label for="E-mail"></label>
            <input type="email" placeholder="seuemail@email.com" required>
        </div>
        <div class="form-group">
            <label for="Nascimento"></label>
            <input type="date" placeholder="Data de nascimento" required>
        </div>
        <div class="form-group">
            <label for="Telefone"></label>
            <input type="number" placeholder="11999999999" required>
        </div>
        <div class="cadastro-button">
            <p>CADASTRAR</p>
        </div>
    </form>
</div>